.container{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 20px;
    display: block;
    margin: 20px auto;
    width: 40%;
    text-align:center;
}
.name{
    font-size: 20px;
    font-weight: bold;
    color: #3c0a0a;
}
.title{
    font-size: 16px;
    color: #0f0a2f;
    font-weight: 600;
    margin-top: 8px;
}
.title{
    font-size: 14px;
    color: #0f0a2f;
    font-weight: 600;
    margin-top: 8px;
}
.btn{
    outline: none;
    padding: 8px 20px;
    border: 2px solid blue;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    margin: 10px;
}
.edit{
    background: blue;

}
.errormsg{
    padding: .75rem 1.25rem;
    margin: auto;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    width: 27%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}